/*
.signUpHover(){
    @hover ~ "&:hover{";
    @bracket ~ "}";
        @hover color: rgba(0, 0, 0, 0); border: solid #008080; @bracket ;
}
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  background-color: #252525;
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 4rem;
  letter-spacing: 1.5rem;
  padding-bottom: 40px;
}
h3 {
  font-size: 2.25rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p,
a {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
}
a {
  padding-bottom: 0px;
  text-decoration: none;
  color: #FFFFFF;
}
img {
  max-width: 100%;
  height: auto;
}
#page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
#pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
}
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: #FF5400;
}
@media screen and (max-width: 768px) {
  #logo-Top-left {
    font-size: 3.2rem;
  }
}
#navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 90px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0px;
}
#navBar #navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 90px;
  max-width: 1480px;
  max-height: auto;
  position: absolute;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 768px) {
  #navBar #navContainer {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
#navBar #navContainer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: auto;
  max-width: 200px;
  max-height: auto;
  min-width: 200px;
  min-height: none;
  margin: 1%;
  transition: 300ms;
}
@media screen and (max-width: 768px) {
  #navBar #navContainer nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
#navBar #navContainer nav:hover .solid {
  color: #FFFFFF;
  background: none;
}
#navBar #navContainer nav a .solid {
  color: #FF5400;
  background: none;
  transition: 300ms;
}
#navBar #navContainer nav a:hover {
  color: #FF5400;
}
#navBar #navContainer nav a:hover .solid {
  color: #FF5400;
  background: none;
}
.footer {
  width: 100%;
  height: auto;
  background-color: #1A1A1A;
}
.footer p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.6rem;
  padding: 20px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}
header .headText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50%;
  flex-direction: column;
  flex-wrap: nowrap;
}
header .headText p {
  font-size: 200%;
}
header .headText h2 {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  line-height: 7rem;
  font-size: 700%;
}
header .headText a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 51px;
  background-color: #FF5400;
  font-size: 200%;
  letter-spacing: 0.1rem;
  border-radius: 100px;
  transition: 200ms;
}
header .headText a:hover {
  width: 152px;
  height: 51px;
  background-color: #ff0054;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.modal {
  flex-direction: column-reverse;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 30%) scale(0);
  transition: 200ms ease-in-out;
  padding: 1%;
  width: 80%;
  height: 60%;
  max-width: 378px;
  max-height: 512px;
  z-index: 10;
}
.modal .modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}
.modal .modal-body {
  min-height: 396px;
  height: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-body #forms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.modal .modal-body #forms form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.modal .modal-body #forms form input[type=text],
.modal .modal-body #forms form select {
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 75%;
  z-index: 10;
}
.modal .modal-body #forms form #country {
  color: #5a5a5a;
  cursor: pointer;
}
.modal .modal-body #forms form #package {
  border: 1px solid #57b657;
  background-color: #eaffea;
  cursor: pointer;
}
.modal .modal-body #forms form p {
  line-height: 1rem;
  margin-bottom: 0;
}
.modal .modal-body #forms form button {
  width: 25%;
  height: 15.72px;
  margin-top: 15px;
  background-color: #57b657;
  color: white;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1.5px;
  cursor: pointer;
  transition: 500ms ease-in-out;
}
.modal .modal-body #forms form button:hover {
  background: #62f562 1px;
  box-shadow: 0px 1px 10px rgba(217, 255, 181, 0.3);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}
.close-button {
  margin: auto;
  transform: scale(3);
  border-radius: 50%;
  background: rgba(182, 87, 87, 0);
  color: rgba(182, 87, 87, 0);
  border: rgba(182, 87, 87, 0);
  transition: 200ms;
  /*&:hover{
        background: rgb(182, 87, 87) 1px;
        border: solid white 1px;
    }*/
}
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9;
  pointer-events: none;
  transition: 200ms ease-in-out;
}
#overlay.active {
  pointer-events: all;
  opacity: 1;
}
.modal.active {
  transform: translate(-50%, 30%) scale(1);
}
.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: #1A1A1A;
  overflow: hidden;
}
.content-section .content-block {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1480px;
  max-height: auto;
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .content-section .content-block {
    padding: 20px;
  }
}
.content-section .content-block .headBox .section-head {
  margin-top: 35px;
  margin-bottom: unset;
}
.content-section #card-content {
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #1A1A1A;
}
.content-section #card-content .card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.content-section #card-content .card-box .card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 22.5%;
  height: 350px;
  min-width: 269px;
  min-height: none;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #252525;
  margin: 1%;
  border-radius: 15px;
  padding: 40px;
  transition: 200ms;
}
@media screen and (max-width: 1251px) {
  .content-section #card-content .card-box .card {
    width: 100%;
    height: auto;
    transition: 0ms;
  }
}
.content-section #card-content .card-box .card:hover {
  transform: scale(1.05);
}
.content-section #card-content .card-box .card:hover h3 {
  transition: 500ms;
  color: #FF5400;
}
.content-section #card-content .card-box .card:hover .card-line {
  width: 80px;
  height: 1px;
  background-color: #FF5400;
}
.content-section #card-content .card-box .card-line {
  width: 60px;
  height: 1px;
  margin-top: unset;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 500ms;
}
.content-section #card-content .card-box h3 {
  transition: 500ms;
}
.content-section #icon-content {
  width: 200px;
  height: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0px;
}
.content-section #icon-content .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.content-section #icon-content .icon-box .whiteBlock {
  width: 33px;
  height: 27px;
  background-color: #737373;
  margin-top: -34px;
  margin-bottom: 1px;
  z-index: 4;
  transition: 100ms;
}
.content-section #icon-content .icon-box .fab {
  margin-top: 40px;
  margin-bottom: 20px;
  z-index: 5;
  font-size: 4rem;
  color: #252525;
  transition: 300ms;
}
.content-section #icon-content .icon-box .fab:hover {
  color: #FF5400;
  transform: scale(1.2);
}
.content-section #icon-content .icon-box .fab:hover .whiteBlock {
  background-color: #FFFFFF;
}
.section-head-about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.section-head-about h2 {
  margin-top: 40px;
  margin-bottom: -30px;
}
#about-content {
  margin-top: 90px;
}
#card-box-about {
  flex-direction: row;
  flex-wrap: nowrap;
}
.cardAbout {
  width: 45%;
  height: 240px;
  max-width: 350px;
  max-height: auto;
  min-width: 269px;
  min-height: 281px;
  background-color: #252525;
  margin: 1%;
  border-radius: 15px;
  padding: 40px;
  transition: 200ms;
}
@media screen and (max-width: 809px) {
  .cardAbout {
    width: 90%;
    height: auto;
    max-width: 850px;
    max-height: auto;
  }
}
@media screen and (max-width: 1251px) {
  .cardAbout {
    transition: 1ms;
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 1400px) {
  .cardAbout:hover {
    transform: scale(1.05);
  }
  .cardAbout:hover .imgbox {
    transform: translate(175px, -10px);
  }
  .cardAbout:hover img {
    opacity: 3%;
    filter: grayscale() contrast(3);
  }
  .cardAbout:hover p,
  .cardAbout:hover h3 {
    transition: 500ms;
    opacity: 100%;
    transform: translate(0px, 0px);
  }
}
.cardAbout h3 {
  margin-top: -115px;
  transition: 500ms;
  opacity: 0%;
  color: #FFFFFF;
}
@media screen and (min-width: 1401px) {
  .cardAbout h3 {
    transform: translateX(-40px) translateY(-20px);
  }
}
@media screen and (max-width: 1400px) {
  .cardAbout h3 {
    opacity: 100%;
  }
}
.cardAbout p {
  line-height: 2rem;
  transition: 500ms;
  opacity: 0%;
}
@media screen and (min-width: 1401px) {
  .cardAbout p {
    transform: translateX(-40px) translateY(20px);
  }
}
@media screen and (max-width: 1400px) {
  .cardAbout p {
    opacity: 100%;
  }
}
.cardAbout .solid {
  background: none;
  color: #FF5400;
}
.cardAbout .imgbox {
  width: 100px;
  height: auto;
  margin-top: unset;
  margin-bottom: 10px;
  background-color: #1A1A1A;
  border-radius: 50%;
  transition: 1000ms;
  transform: translateX(80px) translateY(30px);
}
@media screen and (max-width: 1400px) {
  .cardAbout .imgbox {
    transform: translate(175px, -10px);
  }
}
@media screen and (max-width: 809px) {
  .cardAbout .imgbox {
    opacity: 0%;
  }
}
.cardAbout .imgbox img {
  border-radius: 50%;
  transition: 500ms;
}
