
#funTitle{ @media screen and (max-width: 768px) {font-size: 3.2rem;}}

.home {
  
  .content-section {
    border: solid pink 1px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width: 768px){
      flex-direction:column;
    }
  
    .text-content {
      border: solid red;

      margin-top: 40px;
      margin-bottom: 40px;

      max-width: 100%;
      .flexy(space-between);
      .resMax(1480px);
    }
    
    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
    .imgTxt{
      @media screen and (max-width: 768px){
        .res(100%);
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: solid greenyellow 2px;
    @media screen and (max-width: 768px){
      flex-direction:column-reverse;
      .liner()
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
      @media screen and (max-width: 768px){
        padding-left: 0;
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
      @media screen and (max-width: 768px){
        padding-left: 0;
      }
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;
    @media screen and (max-width: 768px){.res(100%);}

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px){
      flex-direction: column;
      align-items: center;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media screen and (max-width: 768px){
        width: 80%;
        justify-self: center;
      }
      .btn{
        .flexy();
        background-color: @primary;
        color: white;
        padding: .75rem;
        margin: 0% 20% 0% 0%;
        border-radius: 10px;
        font-size: 2rem;
        width: 100%;
        border: none;
        cursor: pointer;
        transition: 200ms ease-in-out;
        @media screen and (max-width: 768px){
        .res(100%);
        }
        &:hover{
          background-color: @primary2;
        }
      }
    }
  }
}// home