// lax" data-lax-translate-y="0 0, 1000 400"

#homeGap{
  .mVert(100vh);
  z-index: 50;
  height: 75vh;  
}

.content-section {
  .flexy(center);
  .res(100vw);
  .bColor(@coal);
  overflow: hidden;

  .content-block {
    .resMax(100%);
    .flexy(space-between, flex-start);
    .resMax(1480px);
    padding: 40px;
    @media screen and (max-width: 768px){ padding: 20px;}
    
    .headBox{
      .section-head{ .mHor(35px); }
    }
  }
 
  #card-content{ 
    .flexD();
    .bColor(@coal);
    z-index: 60;

    .card-box{
      .flexy(center);
      .flexD(row, wrap);
      @media screen and (max-width: 1251px){
        .flexD(column, wrap);
        .flexy(space-evenly, space-evenly);
      }

      .card{
        .flexy(flex-start, flex-start);
        .res(22.5%, 350px);
        .resMin(269px);
        .flexD();
        .bColor(@obsidian);
        margin: 1%;
        border-radius: 15px;
        padding: 40px;
        transition: 1000ms;
        &:hover{
          transform: scale(1.05); 
          .bColor(#101e30);

          h3{ transition: 500ms; color: @primary;}

          p{ color: white; }

          .card-line{
            .res(80px,1px); 
            .bColor(); 
          }
        }

        h3{ color: @gray; transition: 500ms;}

        p{ transition: 700ms; }

        @media screen and (max-width: 1251px){
          padding: 0;
          .res(95vw, 10vh); 
          transition: 0ms;
          transform: scale(1.05); 
          .bColor(@coal);

          h3{ 
          color: @primary;
          font-size: 16px;
          padding-bottom: 1px;
          }

          p{ 
            color: white;
            font-size: 14px;
            padding-bottom: 0px;
          }

          .card-line{
            .res(80px,1px);
            .bColor(); 
          }
        }
      }
      .card-line{
        .res(60px, 1px);
        .mVert(unset, 8px);
        .bColor(@offwhite);
        transition: 500ms;
      }
    }
  }  
  #icon-content{
    .res(200px);
    .flexD(row);
    margin: 0px;
    padding: 0px;

    .icon-box{
      .flexy();
      .flexD;

      .whiteBlock{
        .res(32px, 27px);
        .bColor(@gray);
        .mVert(-34px);
        .mHor(2px);
        z-index: 4;
        transition: 100ms;
        @media screen and (max-width: 1251px){.bColor(@white);}
      }

      .fab {
        .mVert(40px,20px);
        z-index: 5;
        font-size: 4rem;
        color: @obsidian;
        transition: 300ms;
        &:hover{
          color:@primary;
          transform: scale(1.2);

          .whiteBlock{ 
            .bColor(@white); 
          }
        }
      }
    }
  }  
}


////////////////////////////////////////////////////////////////
////////////////////////////about///////////////////////////////
////////////////////////////////////////////////////////////////


.section-head-about{
  .flexy();
  .res(100%);

  h2{.mVert(40px, -30px);}
}

#about-content{ margin-top: 90px; }

#card-box-about{ flex-direction: row; flex-wrap: nowrap;}

.cardAbout{
  .res(45%,240px);
  .resMax(350px);
  .resMin(269px, 281px);
  .bColor(@coal);
  margin: 1%;
  border-radius: 15px;
  padding: 40px;
  transition: 200ms;
  img{
    border: solid @white 3px;
  }
  @media screen and (max-width: 809px){ 
    .res(90%);
    .resMax(850px);
    .resMin(0px, 0px);
    padding: 0;
   }
  @media screen and (max-width: 1251px){ transition: 1ms; .res(100%); } 
  @media screen and (min-width: 1400px){
    &:hover{ transform: scale(1.05);

      .imgbox{ transform: translate(175px, -10px); }

      img { opacity: 3%;
         filter: grayscale() contrast(3);
        } 

      p, h3{
        transition: 500ms;
        opacity: 100%;
        transform: translate(0px, 0px);
      }
    }
  }
  
  h3{
    margin-top: -115px;
    transition: 500ms;
    opacity: 0%;
    color: @white;
    @media screen and (min-width: 1401px){ transform: translateX(-40px) translateY(-20px); }
    @media screen and (max-width: 1400px){ opacity: 100%; }
  }

  p{
    line-height: 2rem;
    transition: 500ms;
    opacity: 0%;
    color: @white;
    @media screen and (min-width: 1401px){transform: translateX(-40px) translateY(20px);}
    @media screen and (max-width: 1400px){ opacity: 100%;}
  }

  .solid{ background: none; color: @primary;}

  .imgbox{
    .res(100px);
    .mVert(unset, 10px);
    .bColor(@coal);
    border-radius: 50%;
    transition: 1000ms;
    transform: translateX(80px) translateY(30px);
    @media screen and (max-width: 1400px){ transform: translate(175px, -10px); }
    @media screen and (max-width: 809px){ opacity: 0%; }

    img{ 
      border-radius: 50%; 
      transition: 500ms;
    }
  }
}
