#logo-Top-left{ @media screen and (max-width: 768px) {font-size: 3.2rem;}}

#navBar{
    .flexy();
    .res(auto, 90px);
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0px;

    #navContainer{
        .flexy(space-between);
        .res(100vw, 90px);
        .resMax(1480px);
        position: absolute;
        padding-left: 40px;
        padding-right: 40px;
        @media screen and (max-width: 768px) { .flexD();}

        nav {
            .flexy(space-between);
            .res(200px);
            .resMax(200px);
            .resMin(200px);
            margin: 1%;
            transition: 300ms;
            @media screen and (max-width: 768px){ .res(100%); .flexy(space-between); }
            &:hover{
                .solid{ 
                    color: @white; 
                    background: none; 
                        }
                    }

                    a{
                        .solid{ 
                        color: @primary; 
                        background: none; 
                        transition: 300ms;
                    }
                    &:hover{
                        color:@primary;

                        .solid{ 
                        color: @primary; 
                        background: none; 
                    }
                }
            }

        }
    }
}